[Unit]
Description=NFW DNS blocklist refresh
After=network-online.target nfw-configd.service
Wants=network-online.target
Requires=nfw-configd.service

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/nfw-dnsblock-refresh.py
